.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-content {
  width: 75vw;
  max-height: 75vh;
  padding: 20px;
  border-radius: 10px;
  background: #2b2b2b;
  border: 1px solid #444;
  overflow-y: auto;
}

.modal-content h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #ff6600;
}

.champion-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 145px);
  gap: 20px;
  justify-items: center;
  justify-content: center;
}

.sort-buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 10px;
}

.sort-buttons, .sort-buttons-fixed {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.sort-buttons button, .sort-buttons-fixed button {
  cursor: pointer;
  padding: 5px 10px;
  background: #282c34;
  border: 2px solid #444;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.sort-buttons button:hover, .sort-buttons-fixed button:hover {
  border: 2px solid;
  transform: scale(1.05);
}

.champion-option {
  position: relative;
  cursor: pointer;
  width: 120px;
  padding: 10px;
  text-align: center;
  border: 2px solid #444;
  border-radius: 10px;
  background-color: #2b2b2b;
  transition: border-color 0.2s, transform 0.2s;
}

.champion-option:hover {
  border: 2px solid #ff8400;
  transform: scale(1.05);
}

.tier {
  color: #ffac2c;
}

.tier:hover {
  border-color: #ffac2c;
}

.tier.active {
  border-color: #ffac2c;
}

.name {
  color: #ff751a;
}

.name:hover {
  border-color: #ff751a;
}

.name.active {
  border-color: #ff751a;
}
