.champion-card {
  position: relative;
  cursor: pointer;
  width: 120px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 2px solid #444;
  border-radius: 10px;
  background-color: #2b2b2b;
  transition: border-color 0.2s, transform 0.2s;
}

.champion-card:hover {
  transform: scale(1.10);
  border-color: #ff8400;
}

.remove-button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid crimson;
  border-radius: 50%;
  color: crimson;
  background: #1e1e1e;
  font-weight: bold;
  font-size: 14px;
  user-select: none;
}

.champion-card h3 {
  margin: 5px 0px;
  color: #ff7b00;
}

.tier-notation {
  position: absolute;
  top: 5px;
  left: 7px;
  font-weight: bold;
  font-size: 18px;
}

.winrate {
  font-weight: bold;
  font-size: 18px;
  color: lightskyblue;
}

.winrate:hover {
  border-color: lightskyblue;
}

.winrate.active {
  border-color: lightskyblue;
}

.complementary-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.pickrate {
  font-weight: bold;
  color: greenyellow;
}

.pickrate:hover {
  border-color: greenyellow;
}

.pickrate.active {
  border-color: greenyellow;
}

.banrate {
  font-weight: bold;
  color: crimson;
}

.banrate:hover {
  border-color: crimson;
}

.banrate.active {
  border-color: crimson;
}
